<a href="https://colab.research.google.com/github/R1ng1/MDSC-201-Statistical-Methods-Using-R/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CONTROL STRUCTURES**

## **Using ifelse() for Conditional Vectorization**
## **Replace even numbers with "Even" and odd numbers with "Odd"**

In [31]:
numbers <- 1:10
labels <- ifelse(numbers %% 2 == 0, "Even", "Odd")
print(labels)

 [1] "Odd"  "Even" "Odd"  "Even" "Odd"  "Even" "Odd"  "Even" "Odd"  "Even"

## **While Loop with a Condition**
## **Calculate factorial using while loop**

In [32]:
n <- 5
factorial <- 1
i <- 1
while (i <= n) {
  factorial <- factorial * i
  i <- i + 1
}
print(factorial)

[1] 120

## **Nested For Loops**
## **Print a multiplication table**

In [33]:
for (i in 1:3) {
  for (j in 1:3) {
    cat(i, "x", j, "=", i * j, "\n")
  }
}

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

## **Predicting temperature**

In [34]:
temperature <- -5
if (temperature > 30) {
  message("It's a hot day.")
} else if (temperature > 0) {
  message("It's a pleasant day.")
} else {
  message("It's cold outside.")
}

It's cold outside.

## **Finding if it is an integer or not**

In [35]:
Y <- 10.5
if (is.integer(Y)) {
  print("Y is an Integer")
} else {
  print("Y is not an Integer")
}

[1] "Y is not an Integer"

## **Check if "yellow" is present in the colors vector**

In [36]:
colors <- c("red", "blue", "green")
if ("yellow" %in% colors) {
  print("yellow is found")
} else {
  print("yellow is not found")
}

[1] "yellow is not found"

## **Demonstrating a While Loop with Decreasing Counter**

In [37]:
num <- 10
while (num > 5) {
  print(paste("Current value is:", num))
  num <- num - 1
}

[1] "Current value is: 10"
[1] "Current value is: 9"
[1] "Current value is: 8"
[1] "Current value is: 7"
[1] "Current value is: 6"

## **Demonstrating a Repeat Loop with a Break Condition**

In [38]:
counter <- 1
repeat {
  print(paste("Value:", counter))
  counter <- counter + 1
  if (counter > 7) {
    break
  }
}

[1] "Value: 1"
[1] "Value: 2"
[1] "Value: 3"
[1] "Value: 4"
[1] "Value: 5"
[1] "Value: 6"
[1] "Value: 7"

## **Iterating through a vector of letters using a for loop**

In [39]:
letters <- c("A", "B", "C", "D", "E")
for (letter in letters) {
  print(paste("Current letter is:", letter))
}

[1] "Current letter is: A"
[1] "Current letter is: B"
[1] "Current letter is: C"
[1] "Current letter is: D"
[1] "Current letter is: E"

## **Skipping a Specific Value in a For Loop**

In [40]:
values <- c(10, 20, 30, 40, 50)
for (val in values) {
  if (val == 30) {
    next  # Skip to the next iteration if val is 30
  }
  print(paste("Value is:", val))
}

[1] "Value is: 10"
[1] "Value is: 20"
[1] "Value is: 40"
[1] "Value is: 50"

## **Calculating the cube of a number**

In [41]:
cube <- function(x) {
  return(x^3)
}
result <- cube(3)
print(paste("The cube of 3 is:", result))

[1] "The cube of 3 is: 27"

## **Printing even numbers from 2 to 10**

In [42]:
even_numbers <- function() {
  for (i in 1:5) {
    print(i * 2)
  }
}
even_numbers()

[1] 2
[1] 4
[1] 6
[1] 8
[1] 10

## **Greeting function with a default argument**

In [43]:
greet <- function(a, b = "Welcome!") {
  print(paste("Hello,", a))
  print(b)
}
greet("Sai")

[1] "Hello, Sai"
[1] "Welcome!"

## **Combining strings with a custom separator**

In [44]:

x <- "Hello"
y <- "R"
z <- "Programming"
print(paste(x, y, z, sep = " | "))

[1] "Hello | R | Programming"

## **Formatting a decimal number to a specific number of digits**

In [45]:
decimal <- 9876.54321
formatted_decimal <- format(decimal, digits = 6)
print(formatted_decimal)

[1] "9876.54"

## **Counting the number of characters in a sentence**

In [46]:
sentence <- "R is a powerful tool for data analysis."
char_count <- nchar(sentence)
print(paste("Number of characters:", char_count))

[1] "Number of characters: 39"

## **Converting a phrase to uppercase and lowercase**

In [47]:
phrase <- "Data Science in R"
print(toupper(phrase))  # Uppercase
print(tolower(phrase))  # Lowercase

[1] "DATA SCIENCE IN R"
[1] "data science in r"

## **Extracting a substring from a string**

In [48]:
greeting <- "Good Evening, Everyone!"
sub_text <- substring(greeting, 6, 13)
print(sub_text)

[1] "Evening,"